body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#todo-container {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 20px; /* Ajout de marge en bas pour l'espace visuel */
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task {
    display: flex;
    flex-direction: row; /* Changement à la disposition en ligne */
    align-items: center;
    justify-content: space-between; /* Alignement des éléments à l'extrémité des conteneurs */
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.task input[type="checkbox"] {
    margin-right: 10px; /* Ajout d'espace à droite de la checkbox */
}




#add-task-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#add-task-form label {
    margin-right: 10px;
}

#add-task-form input[type="text"] {
    flex: 1;
    padding: 5px;
}

#add-task-form button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

#add-task-form button:hover {
    background-color: #45a049;
}

.trie {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.trie:hover {
    background-color: #45a049;
}

#search {
    padding: 5px;
}

#csv {
    margin-top: 20px;
    text-align: center;
}

#allnote {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #cc0000;
}


/* ... (votre code existant) ... */

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.task input[type="checkbox"] {
    margin-right: 10px;
}

.task .inputs {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 5px;
}



#add-task-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}



/* Date input(titre) */

.task .title {
    width: 100%;
    padding: 5px;
    font-weight: bold;
}

.task .date {
    width: 130px;
    white-space: nowrap; /* Empêche le renvoi à la ligne pour la date */
}